<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scyoung.pandora">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/puzzleme_logo_background_rounded"
        android:label="@string/app_name"
        android:logo="@mipmap/puzzleme_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SandboxActivity"
            android:label="@string/title_activity_sandbox"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlaySoundActivity"
            android:label="@string/title_activity_play_sound"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".FindImageActivity"
            android:label="@string/title_activity_find_image"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".PassParameterActivity"
            android:label="@string/title_activity_pass_parameter"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".DisplayParameterActivity"
            android:label="@string/title_activity_display_parameter"
            android:parentActivityName=".PassParameterActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.PassParameterActivity" />
        </activity>
        <activity
            android:name=".ShowPopupMenu"
            android:label="@string/title_activity_show_popup_menu"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".ShowDynamicMenu"
            android:label="@string/title_activity_show_dynamic_menu"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".FindSoundActivity"
            android:label="@string/title_activity_find_sound"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".RecordSoundActivity"
            android:label="@string/title_activity_record_sound"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".LargeImageActivity"
            android:label="@string/title_activity_large_image"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".CombinedActivity"
            android:label="@string/title_activity_combined"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".SharedTransitionActivity"
            android:label="@string/title_activity_shared_transition"
            android:parentActivityName=".SandboxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.pandora.SandboxActivity" />
        </activity>
        <activity
            android:name=".EndTransitionActivity"
            android:label="@string/title_activity_end_transition_activity"
            android:parentActivityName=".SharedTransitionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowSelectionActivity"
            android:label="@string/title_activity_show_selection"
            android:parentActivityName=".CombinedActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
